# Ignore Hidden files
.*

# Do not ignore self
!.gitignore

# Ignore the build directory
build/

# Ignore the install directory
install/

#Ignore the density_tests directory
**density_tests/

#Ignore vim's session files
**.vim

#Ignore Latex support files
**.aux
**.log

#Ignore all config files except the template
**config**.sh
!aux/config_template.sh

#Ignore old source files
src/old/
