# Ignore Hidden files
.*

# Do not ignore self
!.gitignore

# Ignore the build directory
build/

# Ignore the install directory
install/

# Ignore any test directories
**test**/

# Ignore Latex support files
**.aux
**.log

# Ignore all config files except the template
**config**.sh
!aux/config_template.sh

# Ignore vim session files
**.vim

# Ignore old files
src/old/
