# Ignore Hidden files
.*

# Do not ignore self
!.gitignore

# Ignore the build directory
build/

#Ignore the density_tests directory
density_tests/

#Ignore vim's session files
**.vim

#Ignore Latex support files
**.aux
**.log

#Ignore pdf of write up
write_up/GeoMod.pdf
